# Importing and Dropping Duplicates

In [2]:
import pandas as pd
import json

In [3]:
imports = []
import_numbers = [1,2,3,5,6,7,10,11,12,15,16,17,20,21,22,25,26,27,30,31,32,35,36,37,40,41,42,45,46,47]   
for num in import_numbers:
    imports.append('movie_details_exports/movie_details_export_%s.json' %(str(num)))

In [4]:
imports

['movie_details_exports/movie_details_export_1.json',
 'movie_details_exports/movie_details_export_2.json',
 'movie_details_exports/movie_details_export_3.json',
 'movie_details_exports/movie_details_export_5.json',
 'movie_details_exports/movie_details_export_6.json',
 'movie_details_exports/movie_details_export_7.json',
 'movie_details_exports/movie_details_export_10.json',
 'movie_details_exports/movie_details_export_11.json',
 'movie_details_exports/movie_details_export_12.json',
 'movie_details_exports/movie_details_export_15.json',
 'movie_details_exports/movie_details_export_16.json',
 'movie_details_exports/movie_details_export_17.json',
 'movie_details_exports/movie_details_export_20.json',
 'movie_details_exports/movie_details_export_21.json',
 'movie_details_exports/movie_details_export_22.json',
 'movie_details_exports/movie_details_export_25.json',
 'movie_details_exports/movie_details_export_26.json',
 'movie_details_exports/movie_details_export_27.json',
 'movie_details_exports/movie_details_export_30.json',
 'movie_details_exports/movie_details_export_31.json',
 'movie_details_exports/movie_details_export_32.json',
 'movie_details_exports/movie_details_export_35.json',
 'movie_details_exports/movie_details_export_36.json',
 'movie_details_exports/movie_details_export_37.json',
 'movie_details_exports/movie_details_export_40.json',
 'movie_details_exports/movie_details_export_41.json',
 'movie_details_exports/movie_details_export_42.json',
 'movie_details_exports/movie_details_export_45.json',
 'movie_details_exports/movie_details_export_46.json',
 'movie_details_exports/movie_details_export_47.json']

In [5]:
details_df = pd.DataFrame()

In [6]:
for imp in imports:
    details_df = details_df.append(pd.read_json(imp, orient='index'))

# mov = mov.append(pd.read_json('export_2.json', orient='index'))
# mov = mov.append(pd.read_json('export_3.json', orient='index'))

In [7]:
len(details_df)

29717

In [8]:
details_df.head()

,Budget,Country,Cumulative Worldwide Gross,Director,Director_URL,Gross USA,Language,Opening Weekend USA,Primary Filming Location,Production Company,Release Date,Star1,Star1_URL,Star2,Star2_URL,Star3,Star3_URL,Title
http://www.imdb.com/title/tt4937564/,2500000.0,UK,NaN,Sylvie Verheyde,http://www.imdb.com/name/nm0894173,NaN,English,NaN,None,Les Films du Veyrier,2017-02-10,Hafsia Herzi,http://www.imdb.com/name/nm2082567,Ash Stymest,http://www.imdb.com/name/nm7514839,Karole Rocher,http://www.imdb.com/name/nm0734039,Sex Doll
http://www.imdb.com/title/tt4937812/,500000000.0,India,NaN,Rajesh M. Selva,http://www.imdb.com/name/nm4301161,NaN,Tamil,NaN,"Chennai, Tamil Nadu, India",Raajkamal Films International,2015-11-13,Kamal Haasan,http://www.imdb.com/name/nm0352032,Prakash Raj,http://www.imdb.com/name/nm0695177,Trisha Krishnan,http://www.imdb.com/name/nm1375534,Thoongaavanam
http://www.imdb.com/title/tt4939066/,12620000.0,South Korea,NaN,John H. Lee,http://www.imdb.com/name/nm0497565,1.022720e+12,Korean,3.166272e+09,"Seoul, South Korea",Taewon Entertainment,2016-08-12,Liam Neeson,http://www.imdb.com/name/nm0000553,Jung-jae Lee,http://www.imdb.com/name/nm0497631,Beom-su Lee,http://www.imdb.com/name/nm1045934,Battle for Incheon: Operation Chromite
http://www.imdb.com/title/tt4940370/,63000000.0,Sweden,NaN,Felix Herngren,http://www.imdb.com/name/nm0379773,NaN,Swedish,NaN,None,NICE FLX Pictures,2017-04-25,Robert Gustafsson,http://www.imdb.com/name/nm0349052,Iwar Wiklander,http://www.imdb.com/name/nm0928002,David Wiberg,http://www.imdb.com/name/nm2433382,The 101-Year-Old Man Who Skipped Out on the Bi...
http://www.imdb.com/title/tt4940456/,NaN,India,NaN,Rakeysh Omprakash Mehra,http://www.imdb.com/name/nm1018493,NaN,Hindi,NaN,None,Cinestaan Film Company,2016-10-07,Harshvardhan Kapoor,http://www.imdb.com/name/nm7561367,Saiyami Kher,http://www.imdb.com/name/nm7517362,Art Malik,http://www.imdb.com/name/nm0539562,Mirzya

In [9]:
details_df.columns

Index(['Budget', 'Country', 'Cumulative Worldwide Gross', 'Director',
       'Director_URL', 'Gross USA', 'Language', 'Opening Weekend USA',
       'Primary Filming Location', 'Production Company', 'Release Date',
       'Star1', 'Star1_URL', 'Star2', 'Star2_URL', 'Star3', 'Star3_URL',
       'Title'],
      dtype='object')

# Get List of unique Stars and URLS

In [10]:
star1_df = details_df[['Star1_URL','Star1']].copy()

In [11]:
star1_df.rename(columns = {'Star1_URL':'StarURL','Star1':'Star'}, inplace=True)

In [12]:
star2_df = details_df[['Star2_URL','Star2']].copy()

In [13]:
star2_df.rename(columns = {'Star2_URL':'StarURL','Star2':'Star'}, inplace=True)

In [14]:
star3_df = details_df[['Star3_URL','Star3']].copy()

In [15]:
star3_df.rename(columns = {'Star3_URL':'StarURL','Star3':'Star'}, inplace=True)

In [16]:
stars_df = pd.concat([star1_df,star2_df,star3_df])

In [17]:
stars_df.head()

,StarURL,Star
http://www.imdb.com/title/tt4937564/,http://www.imdb.com/name/nm2082567,Hafsia Herzi
http://www.imdb.com/title/tt4937812/,http://www.imdb.com/name/nm0352032,Kamal Haasan
http://www.imdb.com/title/tt4939066/,http://www.imdb.com/name/nm0000553,Liam Neeson
http://www.imdb.com/title/tt4940370/,http://www.imdb.com/name/nm0349052,Robert Gustafsson
http://www.imdb.com/title/tt4940456/,http://www.imdb.com/name/nm7561367,Harshvardhan Kapoor

In [18]:
len(stars_df)

89151

counts = [type(x) for x in stars_df['StarURL']]

counts.index(float)

stars_df.iloc[4017]['StarURL']
.split('?')[0]

In [19]:
stars_df = stars_df.dropna(subset = ['StarURL'])

In [20]:
len(stars_df)

89075

In [21]:
stars_df = stars_df.drop_duplicates(subset='StarURL',keep='first')

In [22]:
len(stars_df)

33838

In [23]:
star_urls = list(stars_df['StarURL'])

In [24]:
star_urls = sorted(star_urls, reverse = True)

In [25]:
star_urls[:10]

['http://www.imdb.com/name/nm9585396',
 'http://www.imdb.com/name/nm9578606',
 'http://www.imdb.com/name/nm9572036',
 'http://www.imdb.com/name/nm9572029',
 'http://www.imdb.com/name/nm9557596',
 'http://www.imdb.com/name/nm9557587',
 'http://www.imdb.com/name/nm9557586',
 'http://www.imdb.com/name/nm9552585',
 'http://www.imdb.com/name/nm9549343',
 'http://www.imdb.com/name/nm9521432']

star_urls.pop()

star_urls[22525]

import re
import requests
from bs4 import BeautifulSoup
url = 'http://www.imdb.com/name/nm0000233/'
# url= 'http://www.imdb.com/name/nm0002354/'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'html.parser')

star_details = {}
star_details[url] = {}

gender = soup.find(id='name-job-categories')
gender = gender.findAll('a') if gender else None
gender = [x['href'] for x in gender] if gender else None
gender = [re.sub('[^a-z]+','',x) for x in gender] if gender else None
if gender:
    if 'actor' in gender:
        gender = 'Male'
    elif 'actress' in gender:
        gender = 'Female'
    else:
        gender = soup.find(id='name-bio-text')
        gender = gender.text if gender else None
        gender = re.sub('\n', '', gender) if gender else None
        gender = re.sub('  +',' ', gender) if gender else None
        gender = gender.split(' ') if gender else None
        male_count = gender.count('His') + gender.count('his') + gender.count('He') + gender.count('he') if gender else None
        female_count = gender.count('Her') + gender.count('her') + gender.count('She') + gender.count('she') if gender else None
        if gender:
            if male_count > female_count:
                gender = 'Male'
            elif female_count > male_count:
                gender = 'Female'
            else:
                gender = None
                    
gender

height = soup.find('h2',text=re.compile('Personal Details'))
height = height.parent if height else None
height = height.find(id='details-height') if height else None
height = height.text if height else None
height = height.split('(')[-1] if height else None
height = re.sub('[^0-9.]+','',height) if height else None
# star_details[url]['Height in m'] = height
height

publicity_listings = soup.find('h2',text=re.compile('Personal Details'))
publicity_listings = publicity_listings.parent if publicity_listings else None
publicity_listings = publicity_listings.find(id='details-publicity-listings') if publicity_listings else None
publicity_listings = publicity_listings.text if publicity_listings else None
publicity_listings = re.sub('[^0-9]+',' ',publicity_listings) if publicity_listings else None
publicity_listings = publicity_listings.strip() if publicity_listings else None
publicity_listings = publicity_listings.split(' ') if publicity_listings else None
publicity_listings = [int(x) for x in publicity_listings] if publicity_listings else None
publicity_listings = sum(publicity_listings) if publicity_listings else None
star_details[url]['Publicity Listings'] = publicity_listings
publicity_listings

star_sign = soup.find('h4',text=re.compile('Star Sign'))
star_sign = star_sign.parent if star_sign else None
star_sign = star_sign.text if star_sign else None
star_sign = star_sign.strip() if star_sign else None
star_sign = star_sign.split('\n')[-1] if star_sign else None
star_details[url]['Star Sign'] = star_sign

star_sign

gender = soup.find(id='name-job-categories')
gender = gender.findAll('a')
gender = [x['href'] for x in gender] if gender else None
gender = [re.sub('[^a-z]+','',x) for x in gender] if gender else None
if gender:
    if 'actor' in gender:
        gender = 'Male'
    elif 'actress' in gender:
        gender = 'Female'
    else:
        gender = None
star_details[url]['Gender'] = gender

gender

born_info = soup.find(id='name-born-info')

birthdate = born_info.find('time') if born_info else None
if birthdate.has_attr('datetime'):
    birthdate = birthdate['datetime']
else:
    birthdate = None
# star_details[url]['Birthdate'] = birthdate
    
birthplace = born_info.findAll('a') if born_info else None
birthplace = birthplace[-1] if birthplace else None
birthplace = birthplace.text if birthplace else None
# star_details[url]['Birthplace'] = birthplace
  
birthcountry = birthplace.split(', ') if birthplace else None
birthcountry = birthcountry[-1] if len(birthcountry)>2 else None
# star_details[url]['Birth Country'] = birthcountry

birthdate
# birthplace
# birthcountry

acting_roles = soup.find(id='filmo-head-actor')
acting_roles = acting_roles.text if acting_roles else None
acting_roles = acting_roles.strip() if acting_roles else None
acting_roles = acting_roles.split('(')[-1] if acting_roles else None
acting_roles = re.sub('[^0-9]+','',acting_roles) if acting_roles else None
acting_roles = int(acting_roles) if acting_roles else None
# star_details[url]['Acting Roles'] = action_roles
    
acting_roles

tv_appearances = soup.find(id='filmo-head-self')
tv_appearances = tv_appearances.text if tv_appearances else None
tv_appearances = tv_appearances.strip() if tv_appearances else None
tv_appearances = tv_appearances.split('(')[-1] if tv_appearances else None
tv_appearances = re.sub('[^0-9]+','',tv_appearances) if tv_appearances else None
star_details[url]['producing Roles'] = tv_appearances    
tv_appearances


# star_details[url]['producing Roles'] = tv_appearances

star_name = soup.find('h1')
star_name = star_name.text if star_name else None
star_name = star_name.strip() if star_name else None
star_name = star_name.split('\n') if star_name else None

deathyear = star_name[-1] if len(star_name)>=2 else None
deathyear = deathyear.split('–')[-1] if deathyear else None
deathyear = re.sub('[^0-9]+','',deathyear) if deathyear else None
deathyear = int(deathyear) if deathyear else None

star_name = star_name[0] if star_name else None

birthyear = birthdate[0:4] if birthdate and len(birthdate)>=10 else None
birthyear = int(birthyear) if birthyear else None

age_at_death = deathyear-birthyear if deathyear and birthyear else None

birthyear

award_highlight = soup.find('div', class_='article highlighted')
award_highlight = award_highlight.find('span') if award_highlight else None
award_highlight = award_highlight.text if award_highlight else None
award_highlight = award_highlight.strip() if award_highlight else None
award_highlight = award_highlight.split('\n') if award_highlight else None
award_highlight = [x.strip() for x in award_highlight] if award_highlight else None
award_highlight = ' '.join(award_highlight) if award_highlight else None

#     star_details[url]['Award Info'] = award_highlight
award_highlight

star_details

In [26]:
len(star_urls)

33838

## Scrape Star Details

In [27]:
# star Details
import re
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time

stars_scraped = 0
star_details = {}
star_index = 33000                    
prefix = 'http://www.imdb.com'
export_number = 55
export_no = str(export_number)
load_attempts = 0

def star_scraper():
    global star_index
    
    print(str(datetime.now()),': working on export ' + export_no)
    
    for url in star_urls[star_index:]:
#         print(url)
        if (star_index+1) % 20 == 0:
            time.sleep(1.5)
            print('%d: %s' %(star_index+1, url))
        page = request_page(url)
        get_star_details(url, page)
        star_index += 1
    
    export_to_json(star_details)
    print("Done")
    
def request_page(url):
    global load_attempts
    response = requests.get(url)
    
    if response.status_code == 200:
        return(response.text)
        load_attempts = 0
    else:
        print(response.status_code,'for %s' %(url))
        if response.status_code != 404:
            if load_attempts == 10:
                time.sleep(60)
            else:
                time.sleep(10)
            request_page(url)
            load_attempts += 1

def get_star_details(url, page):
    soup = BeautifulSoup(page, 'html.parser')

    star_details[url] = {}
    
    gender = soup.find(id='name-job-categories')
    gender = gender.findAll('a') if gender else None
    gender = [x['href'] for x in gender] if gender else None
    gender = [re.sub('[^a-z]+','',x) for x in gender] if gender else None
    if gender:
        if 'actor' in gender:
            gender = 'Male'
        elif 'actress' in gender:
            gender = 'Female'
        else:
            gender = soup.find(id='name-bio-text')
            gender = gender.text if gender else None
            gender = re.sub('\n', '', gender) if gender else None
            gender = re.sub('  +',' ', gender) if gender else None
            gender = gender.split(' ') if gender else None
            male_count = gender.count('His') + gender.count('his') + gender.count('He') + gender.count('he') if gender else None
            female_count = gender.count('Her') + gender.count('her') + gender.count('She') + gender.count('she') if gender else None
            if gender:
                if male_count > female_count:
                    gender = 'Male'
                elif female_count > male_count:
                    gender = 'Female'
                else:
                    gender = None
    star_details[url]['Gender'] = gender
    
    
    star_name = soup.find('h1')
    star_name = star_name.text if star_name else None
    star_name = star_name.strip() if star_name else None
    star_name = star_name.split('\n') if star_name else None

    deathyear = star_name[-1] if len(star_name)>=2 else None
    deathyear = deathyear.split('–')[-1] if deathyear else None
    deathyear = re.sub('[^0-9]+','',deathyear) if deathyear else None
    deathyear = int(deathyear) if deathyear else None
    star_details[url]['Deathyear'] = deathyear
    

    star_name = star_name[0] if star_name else None
    star_details[url]['Name'] = star_name    
    
    
    born_info = soup.find(id='name-born-info')

    birthdate = born_info.find('time') if born_info else None
    if birthdate:
        if birthdate.has_attr('datetime'):
            birthdate = birthdate['datetime']
        else:
            birthdate = None
    star_details[url]['Birthdate'] = birthdate

    birthyear = birthdate[0:4] if birthdate and len(birthdate)>=8 else None
    birthyear = int(birthyear) if birthyear else None
    star_details[url]['Birthyear'] = birthyear

    age_at_death = deathyear-birthyear if deathyear and birthyear else None
    star_details[url]['Age at Death'] = age_at_death

    
    birthplace = born_info.findAll('a') if born_info else None
    birthplace = birthplace[-1] if birthplace else None
    birthplace = birthplace.text if birthplace else None
    star_details[url]['Birthplace'] = birthplace

    
    birthcountry = birthplace.split(', ') if birthplace else None
    birthcountry = birthcountry[-1] if birthcountry and len(birthcountry)>=1 else None
    star_details[url]['Birth Country'] = birthcountry
 

    award_highlight = soup.find('div', class_='article highlighted')
    award_highlight = award_highlight.findAll('span') if award_highlight else None
    award_highlight = [x.text for x in award_highlight] if award_highlight else None
    award_highlight = [x.strip() for x in award_highlight] if award_highlight else None
    award_highlight = [x.split('\n') for x in award_highlight] if award_highlight else None
    award_highlight = [''.join(x) for x in award_highlight[:-1]] if award_highlight else None
    award_highlight = [re.sub("  +", " ", x) for x in award_highlight] if award_highlight else None
    award_highlight = ' '.join(award_highlight) if award_highlight else None    
    star_details[url]['Award Info'] = award_highlight    
    
    acting_roles = soup.find(id='filmo-head-actor')
    acting_roles = acting_roles.text if acting_roles else None
    acting_roles = acting_roles.strip() if acting_roles else None
    acting_roles = acting_roles.split('(')[-1] if acting_roles else None
    acting_roles = re.sub('[^0-9]+','',acting_roles) if acting_roles else None
    acting_roles = int(acting_roles) if acting_roles else None
    star_details[url]['Acting Roles'] = acting_roles
    
    directing_roles = soup.find(id='filmo-head-director')
    directing_roles = directing_roles.text if directing_roles else None
    directing_roles = directing_roles.strip() if directing_roles else None
    directing_roles = directing_roles.split('(')[-1] if directing_roles else None
    directing_roles = re.sub('[^0-9]+','',directing_roles) if directing_roles else None
    directing_roles = int(directing_roles) if directing_roles else None
    star_details[url]['Directing Roles'] = directing_roles  
    
    producing_roles = soup.find(id='filmo-head-producer')
    producing_roles = producing_roles.text if producing_roles else None
    producing_roles = producing_roles.strip() if producing_roles else None
    producing_roles = producing_roles.split('(')[-1] if producing_roles else None
    producing_roles = re.sub('[^0-9]+','',producing_roles) if producing_roles else None
    producing_roles = int(producing_roles) if producing_roles else None
    star_details[url]['Producing Roles'] = producing_roles 
    
    tv_appearances = soup.find(id='filmo-head-self')
    tv_appearances = tv_appearances.text if tv_appearances else None
    tv_appearances = tv_appearances.strip() if tv_appearances else None
    tv_appearances = tv_appearances.split('(')[-1] if tv_appearances else None
    tv_appearances = re.sub('[^0-9]+','',tv_appearances) if tv_appearances else None
    tv_appearances = int(tv_appearances) if tv_appearances else None
    star_details[url]['TV Appearances'] = tv_appearances
    

    height = soup.find('h2',text=re.compile('Personal Details'))
    height = height.parent if height else None
    height = height.find(id='details-height') if height else None
    height = height.text if height else None
    height = height.split('(')[-1] if height else None
    height = re.sub('[^0-9.]+','',height) if height else None
    star_details[url]['Height in m'] = height

    publicity_listings = soup.find('h2',text=re.compile('Personal Details'))
    publicity_listings = publicity_listings.parent if publicity_listings else None
    publicity_listings = publicity_listings.find(id='details-publicity-listings') if publicity_listings else None
    publicity_listings = publicity_listings.text if publicity_listings else None
    publicity_listings = re.sub('[^0-9]+',' ',publicity_listings) if publicity_listings else None
    publicity_listings = publicity_listings.strip() if publicity_listings else None
    publicity_listings = publicity_listings.split(' ') if publicity_listings else None
    publicity_listings = [int(x) for x in publicity_listings] if publicity_listings else None
    publicity_listings = sum(publicity_listings) if publicity_listings else None
    star_details[url]['Publicity Listings'] = publicity_listings
        
    star_sign = soup.find('h4',text=re.compile('Star Sign'))
    star_sign = star_sign.parent if star_sign else None
    star_sign = star_sign.text if star_sign else None
    star_sign = star_sign.strip() if star_sign else None
    star_sign = star_sign.split('\n')[-1] if star_sign else None
    star_details[url]['Star Sign'] = star_sign

    go_to_next_and_export()

def go_to_next_and_export():
    global stars_scraped
    global star_details
    
    stars_scraped+=1

    if len(star_details) == 1000:                                         
        export_to_json(star_details)
        stars_scraped = 0
        star_details = {}

def export_to_json(star_details):
    global export_no
    global export_number
    with open('star_details_exports/star_details_export_%s.json' %(export_no),'w')  as f:
        json.dump(star_details,f)

    export_number += 1
    export_no = str(export_number)
    print(str(datetime.now()),': working on export ' + export_no)

start = time.time()
star_scraper()
end = time.time()
print(round(end-start,3))

2018-01-30 00:19:13.969731 : working on export 55
33020: http://www.imdb.com/name/nm0001007
33040: http://www.imdb.com/name/nm0000982
33060: http://www.imdb.com/name/nm0000959
33080: http://www.imdb.com/name/nm0000929
33100: http://www.imdb.com/name/nm0000903
33120: http://www.imdb.com/name/nm0000879
33140: http://www.imdb.com/name/nm0000852
33160: http://www.imdb.com/name/nm0000819
33180: http://www.imdb.com/name/nm0000784
33200: http://www.imdb.com/name/nm0000748
33220: http://www.imdb.com/name/nm0000722
33240: http://www.imdb.com/name/nm0000691
33260: http://www.imdb.com/name/nm0000669
33280: http://www.imdb.com/name/nm0000649
33300: http://www.imdb.com/name/nm0000623
33320: http://www.imdb.com/name/nm0000603
33340: http://www.imdb.com/name/nm0000577
33360: http://www.imdb.com/name/nm0000554
33380: http://www.imdb.com/name/nm0000530
33400: http://www.imdb.com/name/nm0000507
33420: http://www.imdb.com/name/nm0000484
33440: http://www.imdb.com/name/nm0000462
33460: http://www.imdb.com/name/nm0000441
33480: http://www.imdb.com/name/nm0000415
33500: http://www.imdb.com/name/nm0000393
33520: http://www.imdb.com/name/nm0000369
33540: http://www.imdb.com/name/nm0000346
33560: http://www.imdb.com/name/nm0000323
33580: http://www.imdb.com/name/nm0000300
33600: http://www.imdb.com/name/nm0000278
33620: http://www.imdb.com/name/nm0000255
33640: http://www.imdb.com/name/nm0000230
33660: http://www.imdb.com/name/nm0000208
33680: http://www.imdb.com/name/nm0000188
33700: http://www.imdb.com/name/nm0000165
33720: http://www.imdb.com/name/nm0000145
33740: http://www.imdb.com/name/nm0000124
33760: http://www.imdb.com/name/nm0000101
33780: http://www.imdb.com/name/nm0000072
33800: http://www.imdb.com/name/nm0000047
33820: http://www.imdb.com/name/nm0000022
2018-01-30 00:47:10.395468 : working on export 56
Done
1676.426

In [28]:
import json
import pandas as pd
stars_import = pd.read_json('star_details_exports/star_details_export_55.json',orient='index')

In [29]:
len(stars_import)

838

In [30]:
stars_import

,Acting Roles,Age at Death,Award Info,Birth Country,Birthdate,Birthplace,Birthyear,Deathyear,Directing Roles,Gender,Height in m,Name,Producing Roles,Publicity Listings,Star Sign,TV Appearances
http://www.imdb.com/name/nm0000001,50.0,88.0,Nominated for 1 Oscar. Another 16 wins & 6 nom...,USA,1899-5-10,"Omaha, Nebraska, USA",1899,1987.0,NaN,Male,1.75,Fred Astaire,5.0,47.0,Taurus,71.0
http://www.imdb.com/name/nm0000002,NaN,90.0,Nominated for 1 Oscar. Another 19 wins & 12 no...,USA,1924-9-16,"The Bronx, New York City, New York, USA",1924,2014.0,NaN,Female,1.74,Lauren Bacall,NaN,48.0,Virgo,196.0
http://www.imdb.com/name/nm0000003,NaN,NaN,Nominated for 1 BAFTA Film Award. Another 1 wi...,France,1934-9-28,"Paris, France",1934,NaN,NaN,Female,1.66,Brigitte Bardot,1.0,334.0,Libra,61.0
http://www.imdb.com/name/nm0000004,13.0,33.0,Won 1 Primetime Emmy. Another 1 win & 5 nomina...,USA,1949-1-24,"Chicago, Illinois, USA",1949,1982.0,NaN,Male,1.73,John Belushi,NaN,16.0,Aquarius,8.0
http://www.imdb.com/name/nm0000006,NaN,67.0,Won 3 Oscars. Another 32 wins & 17 nominations.,Sweden,1915-8-29,"Stockholm, Sweden",1915,1982.0,NaN,Female,1.75,Ingrid Bergman,1.0,178.0,Virgo,43.0
http://www.imdb.com/name/nm0000007,86.0,58.0,Won 1 Oscar. Another 6 wins & 5 nominations.,USA,1899-12-25,"New York City, New York, USA",1899,1957.0,NaN,Male,1.73,Humphrey Bogart,1.0,73.0,Capricorn,16.0
http://www.imdb.com/name/nm0000008,45.0,80.0,Won 2 Oscars. Another 28 wins & 33 nominations.,USA,1924-4-3,"Omaha, Nebraska, USA",1924,2004.0,1.0,Male,1.75,Marlon Brando,1.0,166.0,Aries,34.0
http://www.imdb.com/name/nm0000009,79.0,59.0,Nominated for 7 Oscars. Another 14 wins & 16 n...,UK,1925-11-10,"Pontrhydyfen, Wales, UK",1925,1984.0,1.0,Male,1.75,Richard Burton,2.0,145.0,Scorpio,86.0
http://www.imdb.com/name/nm0000010,70.0,87.0,Won 1 Oscar. Another 11 wins & 4 nominations.,USA,1899-7-17,"New York City, New York, USA",1899,1986.0,1.0,Male,1.69,James Cagney,1.0,44.0,Cancer,36.0
http://www.imdb.com/name/nm0000011,117.0,60.0,Won 2 Oscars. Another 12 wins & 7 nominations.,USA,1901-5-7,"Helena, Montana, USA",1901,1961.0,NaN,Male,1.88,Gary Cooper,2.0,51.0,Taurus,35.0
http://www.imdb.com/name/nm0000012,NaN,81.0,Won 2 Oscars. Another 23 wins & 22 nominations.,USA,1908-4-5,"Lowell, Massachusetts, USA",1908,1989.0,NaN,Female,1.60,Bette Davis,1.0,113.0,Aries,95.0
http://www.imdb.com/name/nm0000013,NaN,NaN,Nominated for 1 Oscar. Another 25 wins & 22 no...,USA,1922-4-3,"Cincinnati, Ohio, USA",1922,NaN,NaN,Female,1.70,Doris Day,1.0,90.0,Aries,29.0
http://www.imdb.com/name/nm0000014,NaN,NaN,Won 2 Oscars. Another 13 wins & 7 nominations.,Japan,1916-7-1,"Tokyo, Japan",1916,NaN,NaN,Female,1.63,Olivia de Havilland,NaN,52.0,Cancer,64.0
http://www.imdb.com/name/nm0000015,30.0,24.0,Nominated for 2 Oscars. Another 7 wins & 2 nom...,USA,1931-2-8,"Marion, Indiana, USA",1931,1955.0,NaN,Male,1.70,James Dean,NaN,84.0,Aquarius,5.0
http://www.imdb.com/name/nm0000017,NaN,91.0,Nominated for 1 Oscar. Another 4 wins & 2 nomi...,Germany,1901-12-27,"Schöneberg, Berlin, Germany",1901,1992.0,NaN,Female,1.64,Marlene Dietrich,NaN,211.0,Capricorn,16.0
http://www.imdb.com/name/nm0000018,92.0,NaN,Nominated for 3 Oscars. Another 29 wins & 22 n...,USA,1916-12-9,"Amsterdam, New York, USA",1916,NaN,2.0,Male,1.75,Kirk Douglas,30.0,57.0,Sagittarius,166.0
http://www.imdb.com/name/nm0000020,118.0,77.0,Won 1 Oscar. Another 16 wins & 15 nominations.,USA,1905-5-16,"Grand Island, Nebraska, USA",1905,1982.0,NaN,Male,1.87,Henry Fonda,3.0,38.0,Taurus,117.0
http://www.imdb.com/name/nm0000021,NaN,96.0,Won 1 Oscar. Another 6 wins & 4 nominations.,Japan,1917-10-22,"Tokyo, Japan",1917,2013.0,NaN,Female,1.61,Joan Fontaine,1.0,22.0,Libra,53.0
http://www.imdb.com/name/nm0000022,82.0,59.0,Won 1 Oscar. Another 3 wins & 5 nominations.,USA,1901-2-1,"Cadiz, Ohio, USA",1901,1960.0,NaN,Male,1.84,Clark Gable,1.0,76.0,Aquarius,29.0
http://www.imdb.com/name/nm0000023,NaN,47.0,Nominated for 2 Oscars. Another 6 wins & 7 nom...,USA,1922-6-10,"Grand Rapids, Minnesota, USA",1922,1969.0,NaN,Female,1.51,Judy Garland,NaN,91.0,Gemini,48.0
http://www.imdb.com/name/nm0000024,134.0,96.0,Won 1 Oscar. Another 15 wins & 26 nominations.,UK,1904-4-14,"South Kensington, London, England, UK",1904,2000.0,3.0,Male,1.81,John Gielgud,NaN,29.0,Aries,61.0
http://www.imdb.com/name/nm0000026,77.0,82.0,Nominated for 2 Oscars. Another 10 wins & 18 n...,UK,1904-1-18,"Horfield, Bristol, England, UK",1904,1986.0,NaN,Male,1.87,Cary Grant,1.0,66.0,Capricorn,38.0
http://www.imdb.com/name/nm0000027,61.0,86.0,Won 1 Oscar. Another 28 wins & 19 nominations.,UK,1914-4-2,"Marylebone, London, England, UK",1914,2000.0,NaN,Male,1.78,Alec Guinness,NaN,50.0,Aries,30.0
http://www.imdb.com/name/nm0000028,NaN,69.0,Nominated for 1 Golden Globe. Another 3 wins.,USA,1918-10-17,"Brooklyn, New York City, New York, USA",1918,1987.0,NaN,Female,1.68,Rita Hayworth,4.0,1070.0,Libra,23.0
http://www.imdb.com/name/nm0000029,NaN,42.0,1 win.,USA,1954-2-16,"Portland, Oregon, USA",1954,1996.0,NaN,Female,1.83,Margaux Hemingway,NaN,80.0,Aquarius,24.0
http://www.imdb.com/name/nm0000030,NaN,64.0,Won 1 Oscar. Another 22 wins & 39 nominations.,Belgium,1929-5-4,"Ixelles, Brussels, Belgium",1929,1993.0,NaN,Female,1.70,Audrey Hepburn,NaN,144.0,Taurus,60.0
http://www.imdb.com/name/nm0000031,NaN,96.0,Won 4 Oscars. Another 23 wins & 36 nominations.,USA,1907-5-12,"Hartford, Connecticut, USA",1907,2003.0,NaN,Female,1.71,Katharine Hepburn,NaN,151.0,Taurus,35.0
http://www.imdb.com/name/nm0000032,129.0,85.0,Won 1 Oscar. Another 14 wins & 19 nominations.,USA,1923-10-4,"Wilmette, Illinois, USA",1923,2008.0,3.0,Male,1.91,Charlton Heston,NaN,91.0,Libra,245.0
http://www.imdb.com/name/nm0000034,75.0,63.0,Won 1 Oscar. Another 10 wins & 15 nominations.,USA,1918-4-17,"O'Fallon, Illinois, USA",1918,1981.0,NaN,Male,1.80,William Holden,NaN,24.0,Aries,44.0
http://www.imdb.com/name/nm0000036,149.0,71.0,6 wins.,USA,1895-10-4,"Piqua, Kansas, USA",1895,1966.0,39.0,Male,1.65,Buster Keaton,15.0,77.0,Libra,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
http://www.imdb.com/name/nm0000995,NaN,NaN,Won 1 Oscar. Another 35 wins & 55 nominations.,USA,1932-12-7,"Detroit, Michigan, USA",1932,NaN,1.0,Female,1.70,Ellen Burstyn,3.0,15.0,Sagittarius,98.0
http://www.imdb.com/name/nm0000996,72.0,NaN,Nominated for 3 Primetime Emmys. Another 21 wi...,Germany,1957-2-16,"Landstuhl, Rhineland-Palatinate, Germany",1957,NaN,16.0,Male,1.70,LeVar Burton,2.0,28.0,Aquarius,153.0
http://www.imdb.com/name/nm0000997,174.0,NaN,Nominated for 1 Oscar. Another 4 wins & 7 nomi...,USA,1944-6-29,"Goose Creek, Texas, USA",1944,NaN,NaN,Male,1.83,Gary Busey,1.0,8.0,Cancer,115.0
http://www.imdb.com/name/nm0000998,100.0,NaN,1 nomination.,USA,1971-6-15,"Los Angeles, California, USA",1971,NaN,NaN,Male,1.91,Jake Busey,3.0,2.0,Gemini,15.0
http://www.imdb.com/name/nm0000999,80.0,87.0,Won 1 Oscar. Another 4 wins & 7 nominations.,USA,1919-2-5,"New York City, New York, USA",1919,2006.0,NaN,Male,1.68,Red Buttons,NaN,9.0,Aquarius,121.0
http://www.imdb.com/name/nm0001001,129.0,NaN,Nominated for 1 Oscar. Another 7 wins & 19 nom...,USA,1940-3-26,"The Bronx, New York, USA",1940,NaN,1.0,Male,1.76,James Caan,NaN,27.0,Aries,122.0
http://www.imdb.com/name/nm0001002,154.0,NaN,2 wins & 2 nominations.,USA,1966-7-31,"Mt. Clemens, Michigan, USA",1966,NaN,2.0,Male,1.82,Dean Cain,13.0,37.0,Leo,144.0
http://www.imdb.com/name/nm0001003,127.0,NaN,Nominated for 2 BAFTA Film Awards. Another 1 w...,UK,1949-6-13,"London, England, UK",1949,NaN,1.0,Male,1.70,Simon Callow,NaN,3.0,Gemini,92.0
http://www.imdb.com/name/nm0001004,72.0,NaN,Nominated for 1 Golden Globe. Another 2 wins &...,USA,1959-7-7,"Charlottesville, Virginia, USA",1959,NaN,NaN,Male,1.92,Billy Campbell,1.0,14.0,Cancer,24.0
http://www.imdb.com/name/nm0001006,67.0,44.0,Won 2 Primetime Emmys. Another 2 wins & 12 nom...,Canada,1950-10-31,"Toronto, Ontario, Canada",1950,1994.0,1.0,Male,1.88,John Candy,5.0,10.0,Scorpio,40.0
http://www.imdb.com/name/nm0001007,NaN,NaN,Nominated for 3 Oscars. Another 4 wins & 8 nom...,USA,1937-1-4,"Tacoma, Washington, USA",1937,NaN,3.0,Female,1.65,Dyan Cannon,2.0,10.0,Capricorn,78.0
http://www.imdb.com/name/nm0001009,NaN,NaN,None,USA,1953-11-3,"Fort Worth, Texas, USA",1953,NaN,NaN,Female,1.70,Kate Capshaw,1.0,9.0,Scorpio,54.0
http://www.imdb.com/name/nm0001010,NaN,62.0,Nominated for 1 Golden Globe. Another 1 nomina...,France,1928-1-6,"Saint-Raphaël, Var, France",1928,1990.0,NaN,Female,1.70,Capucine,NaN,1.0,Capricorn,3.0
http://www.imdb.com/name/nm0001011,NaN,NaN,Won 1 Oscar. Another 4 wins & 3 nominations.,USA,1959-3-18,"New York City, New York, USA",1959,NaN,NaN,Female,1.63,Irene Cara,NaN,4.0,Pisces,54.0
http://www.imdb.com/name/nm0001012,NaN,NaN,34 wins & 3 nominations.,French Protectorate Tunisia [now Tunisia],1938-4-15,"Tunis, French Protectorate Tunisia [now Tunisia]",1938,NaN,NaN,Female,1.68,Claudia Cardinale,NaN,127.0,Aries,101.0
http://www.imdb.com/name/nm0001013,156.0,91.0,2 wins.,USA,1921-5-16,"Saugus, California, USA",1921,2012.0,NaN,Male,1.85,Harry Carey Jr.,5.0,2.0,Taurus,29.0
http://www.imdb.com/name/nm0001014,NaN,NaN,Nominated for 1 Golden Globe. Another 12 wins ...,USA,1970-3-27,"Huntington, New York, USA",1970,NaN,16.0,Female,1.75,Mariah Carey,16.0,145.0,Aries,282.0
http://www.imdb.com/name/nm0001015,60.0,NaN,Nominated for 1 Primetime Emmy. Another 13 win...,UK,1961-4-14,"Glasgow, Scotland, UK",1961,NaN,2.0,Male,1.70,Robert Carlyle,NaN,19.0,Aries,47.0
http://www.imdb.com/name/nm0001016,237.0,73.0,Nominated for 4 Golden Globes. Another 9 wins ...,USA,1936-12-8,"Hollywood, Los Angeles, California, USA",1936,2009.0,6.0,Male,1.83,David Carradine,12.0,67.0,Sagittarius,93.0
http://www.imdb.com/name/nm0001017,351.0,82.0,7 wins.,USA,1906-2-5,"New York City, New York, USA",1906,1988.0,NaN,Male,1.83,John Carradine,NaN,17.0,Aquarius,41.0
http://www.imdb.com/name/nm0001018,140.0,NaN,Won 1 Oscar. Another 6 wins & 8 nominations.,USA,1949-8-8,"San Mateo, California, USA",1949,NaN,NaN,Male,1.85,Keith Carradine,3.0,24.0,Leo,62.0
http://www.imdb.com/name/nm0001019,129.0,NaN,1 win & 2 nominations.,USA,1954-3-24,"Hollywood, Los Angeles, California, USA",1954,NaN,1.0,Male,1.82,Robert Carradine,3.0,3.0,Aries,31.0
http://www.imdb.com/name/nm0001020,NaN,41.0,3 wins & 3 nominations.,UK,1961-5-15,"Westminster, London, England, UK",1961,2002.0,NaN,Female,NaN,Katrin Cartlidge,NaN,2.0,Taurus,3.0
http://www.imdb.com/name/nm0001021,NaN,NaN,Nominated for 3 Primetime Emmys. Another 4 win...,UK,1949-4-20,"Bristol, England, UK",1949,NaN,NaN,Female,1.68,Veronica Cartwright,NaN,8.0,Taurus,35.0
http://www.imdb.com/name/nm0001022,41.0,NaN,Won 1 Primetime Emmy. Another 4 wins & 12 nomi...,USA,1955-6-2,"Missoula, Montana, USA",1955,NaN,NaN,Male,1.73,Dana Carvey,5.0,15.0,Gemini,80.0
http://www.imdb.com/name/nm0001023,79.0,60.0,Nominated for 3 Oscars. Another 12 wins & 18 n...,USA,1929-12-9,"New York City, New York, USA",1929,1989.0,16.0,Male,1.70,John Cassavetes,2.0,31.0,Sagittarius,30.0
http://www.imdb.com/name/nm0001024,41.0,NaN,4 wins & 7 nominations.,USA,1959-5-21,"New York City, New York, USA",1959,NaN,11.0,Male,1.98,Nick Cassavetes,4.0,1.0,Gemini,8.0
http://www.imdb.com/name/nm0001025,215.0,NaN,Nominated for 1 Oscar. Another 7 wins & 1 nomi...,USA,1935-1-22,"Detroit, Michigan, USA",1935,NaN,NaN,Male,1.72,Seymour Cassel,1.0,NaN,Aquarius,21.0
http://www.imdb.com/name/nm0001026,NaN,NaN,Won 1 Golden Globe. Another 5 wins & 8 nominat...,USA,1945-8-2,"Haddonfield, New Jersey, USA",1945,NaN,NaN,Female,1.75,Joanna Cassidy,2.0,9.0,Leo,32.0
http://www.imdb.com/name/nm0001028,83.0,NaN,1 win & 2 nominations.,UK,1959-11-23,"London, England, UK",1959,NaN,NaN,Male,1.83,Maxwell Caulfield,1.0,2.0,Sagittarius,21.0