# Importing and Dropping Duplicates

In [1]:
import pandas as pd
import json

In [2]:
imports = []
import_numbers = [1,2,3,5,6,7,10,11,12,15,16,17,20,21,22,25,26,27,30,31,32,35,36,37,40,41,42,45,46,47]   
for num in import_numbers:
    imports.append('movie_details_exports/movie_details_export_%s.json' %(str(num)))

In [3]:
imports

['movie_details_exports/movie_details_export_1.json',
 'movie_details_exports/movie_details_export_2.json',
 'movie_details_exports/movie_details_export_3.json',
 'movie_details_exports/movie_details_export_5.json',
 'movie_details_exports/movie_details_export_6.json',
 'movie_details_exports/movie_details_export_7.json',
 'movie_details_exports/movie_details_export_10.json',
 'movie_details_exports/movie_details_export_11.json',
 'movie_details_exports/movie_details_export_12.json',
 'movie_details_exports/movie_details_export_15.json',
 'movie_details_exports/movie_details_export_16.json',
 'movie_details_exports/movie_details_export_17.json',
 'movie_details_exports/movie_details_export_20.json',
 'movie_details_exports/movie_details_export_21.json',
 'movie_details_exports/movie_details_export_22.json',
 'movie_details_exports/movie_details_export_25.json',
 'movie_details_exports/movie_details_export_26.json',
 'movie_details_exports/movie_details_export_27.json',
 'movie_details_exports/movie_details_export_30.json',
 'movie_details_exports/movie_details_export_31.json',
 'movie_details_exports/movie_details_export_32.json',
 'movie_details_exports/movie_details_export_35.json',
 'movie_details_exports/movie_details_export_36.json',
 'movie_details_exports/movie_details_export_37.json',
 'movie_details_exports/movie_details_export_40.json',
 'movie_details_exports/movie_details_export_41.json',
 'movie_details_exports/movie_details_export_42.json',
 'movie_details_exports/movie_details_export_45.json',
 'movie_details_exports/movie_details_export_46.json',
 'movie_details_exports/movie_details_export_47.json']

In [4]:
details_df = pd.DataFrame()

In [5]:
for imp in imports:
    details_df = details_df.append(pd.read_json(imp, orient='index'))

In [6]:
len(details_df)

29717

In [7]:
details_df.head()

,Budget,Country,Cumulative Worldwide Gross,Director,Director_URL,Gross USA,Language,Opening Weekend USA,Primary Filming Location,Production Company,Release Date,Star1,Star1_URL,Star2,Star2_URL,Star3,Star3_URL,Title
http://www.imdb.com/title/tt4937564/,2500000.0,UK,NaN,Sylvie Verheyde,http://www.imdb.com/name/nm0894173,NaN,English,NaN,None,Les Films du Veyrier,2017-02-10,Hafsia Herzi,http://www.imdb.com/name/nm2082567,Ash Stymest,http://www.imdb.com/name/nm7514839,Karole Rocher,http://www.imdb.com/name/nm0734039,Sex Doll
http://www.imdb.com/title/tt4937812/,500000000.0,India,NaN,Rajesh M. Selva,http://www.imdb.com/name/nm4301161,NaN,Tamil,NaN,"Chennai, Tamil Nadu, India",Raajkamal Films International,2015-11-13,Kamal Haasan,http://www.imdb.com/name/nm0352032,Prakash Raj,http://www.imdb.com/name/nm0695177,Trisha Krishnan,http://www.imdb.com/name/nm1375534,Thoongaavanam
http://www.imdb.com/title/tt4939066/,12620000.0,South Korea,NaN,John H. Lee,http://www.imdb.com/name/nm0497565,1.022720e+12,Korean,3.166272e+09,"Seoul, South Korea",Taewon Entertainment,2016-08-12,Liam Neeson,http://www.imdb.com/name/nm0000553,Jung-jae Lee,http://www.imdb.com/name/nm0497631,Beom-su Lee,http://www.imdb.com/name/nm1045934,Battle for Incheon: Operation Chromite
http://www.imdb.com/title/tt4940370/,63000000.0,Sweden,NaN,Felix Herngren,http://www.imdb.com/name/nm0379773,NaN,Swedish,NaN,None,NICE FLX Pictures,2017-04-25,Robert Gustafsson,http://www.imdb.com/name/nm0349052,Iwar Wiklander,http://www.imdb.com/name/nm0928002,David Wiberg,http://www.imdb.com/name/nm2433382,The 101-Year-Old Man Who Skipped Out on the Bi...
http://www.imdb.com/title/tt4940456/,NaN,India,NaN,Rakeysh Omprakash Mehra,http://www.imdb.com/name/nm1018493,NaN,Hindi,NaN,None,Cinestaan Film Company,2016-10-07,Harshvardhan Kapoor,http://www.imdb.com/name/nm7561367,Saiyami Kher,http://www.imdb.com/name/nm7517362,Art Malik,http://www.imdb.com/name/nm0539562,Mirzya

In [8]:
details_df.columns

Index(['Budget', 'Country', 'Cumulative Worldwide Gross', 'Director',
       'Director_URL', 'Gross USA', 'Language', 'Opening Weekend USA',
       'Primary Filming Location', 'Production Company', 'Release Date',
       'Star1', 'Star1_URL', 'Star2', 'Star2_URL', 'Star3', 'Star3_URL',
       'Title'],
      dtype='object')

# Get List of unique Stars and URLS

In [9]:
star1_df = details_df[['Star1_URL','Star1']].copy()

In [10]:
star1_df.rename(columns = {'Star1_URL':'StarURL','Star1':'Star'}, inplace=True)

In [11]:
star2_df = details_df[['Star2_URL','Star2']].copy()

In [12]:
star2_df.rename(columns = {'Star2_URL':'StarURL','Star2':'Star'}, inplace=True)

In [13]:
star3_df = details_df[['Star3_URL','Star3']].copy()

In [14]:
star3_df.rename(columns = {'Star3_URL':'StarURL','Star3':'Star'}, inplace=True)

In [15]:
stars_df = pd.concat([star1_df,star2_df,star3_df])

In [16]:
stars_df.head()

,StarURL,Star
http://www.imdb.com/title/tt4937564/,http://www.imdb.com/name/nm2082567,Hafsia Herzi
http://www.imdb.com/title/tt4937812/,http://www.imdb.com/name/nm0352032,Kamal Haasan
http://www.imdb.com/title/tt4939066/,http://www.imdb.com/name/nm0000553,Liam Neeson
http://www.imdb.com/title/tt4940370/,http://www.imdb.com/name/nm0349052,Robert Gustafsson
http://www.imdb.com/title/tt4940456/,http://www.imdb.com/name/nm7561367,Harshvardhan Kapoor

In [17]:
len(stars_df)

89151

In [18]:
stars_df = stars_df.dropna(subset = ['StarURL'])

In [19]:
len(stars_df)

89075

In [20]:
stars_df = stars_df.drop_duplicates(subset='StarURL',keep='first')

In [21]:
len(stars_df)

33838

In [22]:
star_urls = list(stars_df['StarURL'])

In [23]:
star_urls = sorted(star_urls, reverse = True)

In [24]:
star_urls[:10]

['http://www.imdb.com/name/nm9585396',
 'http://www.imdb.com/name/nm9578606',
 'http://www.imdb.com/name/nm9572036',
 'http://www.imdb.com/name/nm9572029',
 'http://www.imdb.com/name/nm9557596',
 'http://www.imdb.com/name/nm9557587',
 'http://www.imdb.com/name/nm9557586',
 'http://www.imdb.com/name/nm9552585',
 'http://www.imdb.com/name/nm9549343',
 'http://www.imdb.com/name/nm9521432']

In [25]:
len(star_urls)

33838

# Scrape Star Details

In [26]:
# star Details
import re
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time

stars_scraped = 0
star_details = {}
star_index = 0                    
prefix = 'http://www.imdb.com'
export_number = 1
export_no = str(export_number)
load_attempts = 0

def star_scraper():
    global star_index
    
    print(str(datetime.now()),': working on export ' + export_no)
    
    for url in star_urls[star_index:3000]:
#         print(url)
        if (star_index+1) % 20 == 0:
            time.sleep(1.5)
            print('%d: %s' %(star_index+1, url))
        page = request_page(url)
        get_star_details(url, page)
        star_index += 1
    
    export_to_json(star_details)
    print("Done")
    
def request_page(url):
    global load_attempts
    response = requests.get(url)
    
    if response.status_code == 200:
        return(response.text)
        load_attempts = 0
    else:
        print(response.status_code,'for %s' %(url))
        if response.status_code != 404:
            if load_attempts == 10:
                time.sleep(60)
            else:
                time.sleep(10)
            request_page(url)
            load_attempts += 1

def get_star_details(url, page):
    soup = BeautifulSoup(page, 'html.parser')

    star_details[url] = {}
    
    gender = soup.find(id='name-job-categories')
    gender = gender.findAll('a') if gender else None
    gender = [x['href'] for x in gender] if gender else None
    gender = [re.sub('[^a-z]+','',x) for x in gender] if gender else None
    if gender:
        if 'actor' in gender:
            gender = 'Male'
        elif 'actress' in gender:
            gender = 'Female'
        else:
            gender = soup.find(id='name-bio-text')
            gender = gender.text if gender else None
            gender = re.sub('\n', '', gender) if gender else None
            gender = re.sub('  +',' ', gender) if gender else None
            gender = gender.split(' ') if gender else None
            male_count = gender.count('His') + gender.count('his') + gender.count('He') + gender.count('he') if gender else None
            female_count = gender.count('Her') + gender.count('her') + gender.count('She') + gender.count('she') if gender else None
            if gender:
                if male_count > female_count:
                    gender = 'Male'
                elif female_count > male_count:
                    gender = 'Female'
                else:
                    gender = None
    star_details[url]['Gender'] = gender
    
    
    star_name = soup.find('h1')
    star_name = star_name.text if star_name else None
    star_name = star_name.strip() if star_name else None
    star_name = star_name.split('\n') if star_name else None

    deathyear = star_name[-1] if len(star_name)>=2 else None
    deathyear = deathyear.split('â€“')[-1] if deathyear else None
    deathyear = re.sub('[^0-9]+','',deathyear) if deathyear else None
    deathyear = int(deathyear) if deathyear else None
    star_details[url]['Deathyear'] = deathyear
    

    star_name = star_name[0] if star_name else None
    star_details[url]['Name'] = star_name    
    
    
    born_info = soup.find(id='name-born-info')

    birthdate = born_info.find('time') if born_info else None
    if birthdate:
        if birthdate.has_attr('datetime'):
            birthdate = birthdate['datetime']
        else:
            birthdate = None
    star_details[url]['Birthdate'] = birthdate

    birthyear = birthdate[0:4] if birthdate and len(birthdate)>=8 else None
    birthyear = int(birthyear) if birthyear else None
    star_details[url]['Birthyear'] = birthyear

    age_at_death = deathyear-birthyear if deathyear and birthyear else None
    star_details[url]['Age at Death'] = age_at_death

    
    birthplace = born_info.findAll('a') if born_info else None
    birthplace = birthplace[-1] if birthplace else None
    birthplace = birthplace.text if birthplace else None
    star_details[url]['Birthplace'] = birthplace

    
    birthcountry = birthplace.split(', ') if birthplace else None
    birthcountry = birthcountry[-1] if birthcountry and len(birthcountry)>=1 else None
    star_details[url]['Birth Country'] = birthcountry
 

    award_highlight = soup.find('div', class_='article highlighted')
    award_highlight = award_highlight.findAll('span') if award_highlight else None
    award_highlight = [x.text for x in award_highlight] if award_highlight else None
    award_highlight = [x.strip() for x in award_highlight] if award_highlight else None
    award_highlight = [x.split('\n') for x in award_highlight] if award_highlight else None
    award_highlight = [''.join(x) for x in award_highlight[:-1]] if award_highlight else None
    award_highlight = [re.sub("  +", " ", x) for x in award_highlight] if award_highlight else None
    award_highlight = ' '.join(award_highlight) if award_highlight else None    
    star_details[url]['Award Info'] = award_highlight    
    
    acting_roles = soup.find(id='filmo-head-actor')
    acting_roles = acting_roles.text if acting_roles else None
    acting_roles = acting_roles.strip() if acting_roles else None
    acting_roles = acting_roles.split('(')[-1] if acting_roles else None
    acting_roles = re.sub('[^0-9]+','',acting_roles) if acting_roles else None
    acting_roles = int(acting_roles) if acting_roles else None
    star_details[url]['Acting Roles'] = acting_roles
    
    directing_roles = soup.find(id='filmo-head-director')
    directing_roles = directing_roles.text if directing_roles else None
    directing_roles = directing_roles.strip() if directing_roles else None
    directing_roles = directing_roles.split('(')[-1] if directing_roles else None
    directing_roles = re.sub('[^0-9]+','',directing_roles) if directing_roles else None
    directing_roles = int(directing_roles) if directing_roles else None
    star_details[url]['Directing Roles'] = directing_roles  
    
    producing_roles = soup.find(id='filmo-head-producer')
    producing_roles = producing_roles.text if producing_roles else None
    producing_roles = producing_roles.strip() if producing_roles else None
    producing_roles = producing_roles.split('(')[-1] if producing_roles else None
    producing_roles = re.sub('[^0-9]+','',producing_roles) if producing_roles else None
    producing_roles = int(producing_roles) if producing_roles else None
    star_details[url]['Producing Roles'] = producing_roles 
    
    tv_appearances = soup.find(id='filmo-head-self')
    tv_appearances = tv_appearances.text if tv_appearances else None
    tv_appearances = tv_appearances.strip() if tv_appearances else None
    tv_appearances = tv_appearances.split('(')[-1] if tv_appearances else None
    tv_appearances = re.sub('[^0-9]+','',tv_appearances) if tv_appearances else None
    tv_appearances = int(tv_appearances) if tv_appearances else None
    star_details[url]['TV Appearances'] = tv_appearances
    

    height = soup.find('h2',text=re.compile('Personal Details'))
    height = height.parent if height else None
    height = height.find(id='details-height') if height else None
    height = height.text if height else None
    height = height.split('(')[-1] if height else None
    height = re.sub('[^0-9.]+','',height) if height else None
    star_details[url]['Height in m'] = height

    publicity_listings = soup.find('h2',text=re.compile('Personal Details'))
    publicity_listings = publicity_listings.parent if publicity_listings else None
    publicity_listings = publicity_listings.find(id='details-publicity-listings') if publicity_listings else None
    publicity_listings = publicity_listings.text if publicity_listings else None
    publicity_listings = re.sub('[^0-9]+',' ',publicity_listings) if publicity_listings else None
    publicity_listings = publicity_listings.strip() if publicity_listings else None
    publicity_listings = publicity_listings.split(' ') if publicity_listings else None
    publicity_listings = [int(x) for x in publicity_listings] if publicity_listings else None
    publicity_listings = sum(publicity_listings) if publicity_listings else None
    star_details[url]['Publicity Listings'] = publicity_listings
        
    star_sign = soup.find('h4',text=re.compile('Star Sign'))
    star_sign = star_sign.parent if star_sign else None
    star_sign = star_sign.text if star_sign else None
    star_sign = star_sign.strip() if star_sign else None
    star_sign = star_sign.split('\n')[-1] if star_sign else None
    star_details[url]['Star Sign'] = star_sign

    go_to_next_and_export()

def go_to_next_and_export():
    global stars_scraped
    global star_details
    
    stars_scraped+=1

    if len(star_details) == 1000:                                         
        export_to_json(star_details)
        stars_scraped = 0
        star_details = {}

def export_to_json(star_details):
    global export_no
    global export_number
    with open('star_details_exports/star_details_export_%s.json' %(export_no),'w')  as f:
        json.dump(star_details,f)

    export_number += 1
    export_no = str(export_number)
    print(str(datetime.now()),': working on export ' + export_no)

start = time.time()
star_scraper()
end = time.time()
print(round(end-start,3))